#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

input {
  width: 100%;
}

.populateui {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  border-radius: 1em;
  border: #1a1a1a solid 1px;
  padding: 2rem;
}

.card:hover {
  background-color: #1a1a1a;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
